#inicio{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./../../assets/imgs/pngtree-laptop-color-brush-coffee-cartoon-background-on-wooden-table-tablelaptopcolorbrushcoffeecartoonbackground-image_60613.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    height: 100vh;

}

#skills{
    color: black;
    height: 100vh;
    padding: 100px 15px;
    text-align: center;
    overflow: scroll;
    background-color: #f3f3f3;
}

#proyectos{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}


#contacto{
    padding: 100px 15px;
}
