
.titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    //color:#111135;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 5px;
}


.fila{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    gap: 10px;
}

.fila .proyecto{
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}


.fila .proyecto img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

.fila .proyecto:hover img{
    filter: grayscale(0);
}

.fila .proyecto .info{
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,.8);
    //color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

.fila .proyecto:hover .info{
    opacity: 1;
    bottom: 0;
}

.proyecto a {
    height: 100%;
    width: 100%;
}