<div class="div" *ngIf="repos">
    <h3 class="titulo-seccion">MIS PROYECTOS</h3>
    <div class="fila" >
        <div class="proyecto" *ngFor="let item of repos">
            <a href="https://github.com/{{item.full_name}}">    
                <img src="{{getIcon(item.name)?.icon}}" alt="">
                <div class="info title">
                    <h4>{{item.description}}</h4>
                    <p>{{item.language}}</p>
                </div>
            </a>
        </div> 
    </div>
</div>