.titulo-seccion{
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration: #d3d3d3;
    text-decoration-thickness: 5px;
}

.contenedor-form
{
    max-width: 1100px;
    margin: auto;
}

.contenedor-form .fila{
    margin-bottom: 15px;
}

.contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

.contenedor-form input, .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

.contenedor-form .mitad input{
    width: 48%;
}

.contenedor-form .mitad .input-full{
    width: 100%;
}

.btn-enviar{
    display: bloc;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

.btn-enviar:hover{
    background-color: #ff5080;
    color: #fff;
}

.fila input, textarea{
    display: block;
    width: 100%;
}

.fila textarea{
    
}
.contenedor-form input{ /*Beuna aclaracion para saber, los elem en bloque ocupan todo el ancho. Entonces sirve meterles un display flex a ellos mismos. Es decir, si fuera inline (creo) no servirira */
    display: flex;
    justify-content: center;
}

