<h3 class="titulo-seccion">CONTACTAME!</h3>
<form class="contenedor-form" action="mailto:franco.battista99@outlook.com" method="POST">
    <div class="fila mitad">
        <input type="text" placeholder="Nombre completo" class="input-mitad" name="name">
        <input type="text" placeholder="Direccion e-mail" class="input-mitad" name="email">
    </div>
    <div class="fila">
        <input type="text" placeholder="Tema..." class="input-full">
    </div>
    <div class="fila">
        <textarea id="" cols="30" rows="10" placeholder="Mensaje..." class="input-full" name="message"></textarea>
    </div>
    <input type="submit" value="Enviar" class="btn-enviar">
</form>