@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import './dark-theme';
@import './light-theme';
@include mat.core();

$my-typography: mat.define-typography-config(
  $font-family: 'Montserrat'
);

@include mat.all-component-typographies($my-typography);

body :not(input){
  caret-color: transparent;
}
// Apply the light theme only when the user prefers light themes.
.light-theme{
  @include mat.core-color($light-theme);
  @include mat.all-component-themes($light-theme);
 //background: #ffffff;
  color: black;
  $hover-light: #ff5080;
  $navbar-light: gray;

  a:hover ,input[type="submit"]:hover{
    background-color: $hover-light;
  }

  .title{
    color: $hover-light;  
  }

  transition: all 3s;


  li a:hover{
    color: $hover-light;  
    background-color: transparent;
  }
  

  header{
    background-color: rgba(125, 123, 123, 0.8);

  }
  #inicio{
    background: url("./../assets/imgs/f2.png");
  }

  mat-icon:hover{
    color: $hover-light;  
    background-color: transparent;
  }

  .skill{
    background-color: rgba(125, 123, 123, 0.8);

  }
}



.dark-theme {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
  background: #121212;
  color: white;
  $main-dark:#1D9BF0;
  text-decoration-color: $main-dark;
  
  .title{
    color: $main-dark;
  }
  transition: all 3s;

  .skill{
    color:#121212;
  }

 #inicio{
    background: url("./../assets/imgs/f1.jpg");
    animation: gd 1s ease-in-out;
  }
  a,input{
    color: white;
  }

  a:hover ,input[type="submit"]:hover{
    background-color: $main-dark;
  }
  .skill{
    background-color: #fff;

  }

  header{
    background-color: rgba(0,0,0,.8);
  }

  li a{

  }


  li a:hover{
    color: $main-dark;  
    background-color: transparent;
  }

  mat-icon:hover{
    color: $main-dark;  
    background-color: transparent;
  }

}

