
<div class="aboutme">
    <div class="contenedor-foto">
        <img src="./../../../assets/imgs/yo.jpg" alt="">
    </div>
    <div class="sobremi">
        <p class="titulo-seccion">Sobre mí!</p>
    
        <h2>Hola, soy <span>Franco Battista</span></h2>
        <h3>Web Developer</h3>
        <p>Estudiante avanzado de ingenieria informatica. Software developer actualmente trabajando en frontend, 
            con más de un año y medio de experiencia. Especializado en stack MEAN (JWT, passport, entre otras librerias para backend), 
            y con conocimientos sobre: React, React-Native, bases de datos SQL (ademas de noSQL), Python (IA & manejo del lenguaje en general), 
            Hardware y Software en general (Sistemas operativos, y manejo de componentes de hardware)</p> 
        <a href="#">Descargar CV</a>
    </div>
</div>
