<footer>
    <p>Todos los derechos reservados - 2023</p>
    <div class="redes">
        <a href="https://www.instagram.com/fraanbattista/" ><img src="./../../../assets/imgs/IG.png" alt=""></a>
        <a href="https://www.linkedin.com/in/franco-battista-b765961b8/"><img src="./../../../assets/imgs/linkedin.png" alt=""></a>
        <a href="https://twitter.com/fraaanbattista" style="height: 30px;"><img src="./../../../assets/imgs/TWITTER.png" alt="" style="height: 30px;"></a>
    </div>
</footer>