footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}   

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

.redes img{
    width: 30px;
    border-radius: 50%;
    filter: brightness(75%);
}

.redes a:hover{
    background-color: transparent;
}
